<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556329611895-lmvuolfoqlb6n8asgc759mi1tuacgdbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556329611895-lmvuolfoqlb6n8asgc759mi1tuacgdbu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556329611895-3v7brgvj2pj7tqvgn3gmi2mhf18mb1s3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARowIWQb5dG_gxLj3O6TZ8c8o1QfR_Uks</string>
	<key>GCM_SENDER_ID</key>
	<string>556329611895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.corp.medigyaan</string>
	<key>PROJECT_ID</key>
	<string>medigyaan-11cba</string>
	<key>STORAGE_BUCKET</key>
	<string>medigyaan-11cba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556329611895:ios:6fb3c4710eacf3dc344c72</string>
	<key>DATABASE_URL</key>
	<string>https://medigyaan-11cba-default-rtdb.firebaseio.com</string>
</dict>
</plist>